.services {
display: flex;
justify-content: center;
gap :20px;
margin: 40px 0;
flex-wrap: wrap;
}

body{
    background-color: blanchedalmond;
}

.service-card{
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px  rgba(0,0,0,0.1);
    width: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}
